.not {
   height: 50px;
   width: 315;
   background-color: white;
   position: fixed;
   top: 110px;
   left: 0px;
   border: 1px solid black;
   border-radius: 0.3rem;
}

.info {
  position: absolute;
  top: 5px;
  left: 55px;
  font-size: 15px;
}

.head {
  height: 30px;
  width: 318px;
  font-size: 20px;
  border: 1px solid black;
  position: fixed;
  left: 0px;
  top: 2px;
  border-radius: 0.1rem;
}

.back {
  position : absolute;
  left: 15px;
  top: 3px;
}

button:active,
a[role="button"]:active {
  border-color: #008aaa;
  background-size: auto 100%;
  color: #333;
}

button,
a[role="button"],
.button {
  width: 30px;
  height: 20px;
  margin: 1 1 1rem;
  padding: 0 1.0rem;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0.1rem solid #a6a6a6;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);  
  position: fixed;
  top: 245px;
  left: 175px;
  
}
