
.input {
position: fixed;
left: 75px;
top: 150px;
color: #CC0000;
}

button:active,
a[role="button"]:active {
  border-color: #008aaa;
  background-size: auto 100%;
  color: #333;
}

button,
a[role="button"],
.button {
  width: 70px;
  height: 23px;
  margin: 1 1 1rem;
  padding: 0 1.0rem;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0.1rem solid #a6a6a6;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1.0rem;
  color: #333;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);  
  position: fixed;
  top: 245px;
  left: 175px;
}

/* fix for required inputs with wrong or empty value e.g. [type=email] */
input:invalid{
  border: 0.1rem solid #820000;
  color: #b90000;
}

input:-moz-placeholder {
  color: #858585;
  opacity: 1;
}


form p input + button[type="reset"] {
  position: absolute;
  top: 50%;
  right: 0;
  width: 3rem;
  height: 4rem;
  padding: 0;
  border: none;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
}



 